/*Remember to keep documenting*/

/*******************************************************
General Styles
*******************************************************/

/*-------------------Button Styles-------------------*/

/*Main header button*/
body:not(.collection-type-gallery).banner-button-style-raised .desc-wrapper p:last-child>a {
	border-radius: 5px;
	box-shadow: 0 4px 0 0 #143f68;
	-moz-box-shadow: 0 4px 0 0 #143f68;
	-webkit-box-shadow: 0 4px 0 0 #143f68;
}

/*Button border radius*/
.small-button-shape-rounded .sqs-block-button .sqs-block-button-element--small,
.medium-button-shape-rounded .sqs-block-button .sqs-block-button-element--medium,
.large-button-shape-rounded .sqs-block-button .sqs-block-button-element--large,
input.button.sqs-system-button.sqs-editable-button {
	border-radius: 5px;
}

/*Small button box-shadow*/
.small-button-style-raised .sqs-block-button .sqs-block-button-element--small,
input.button.sqs-system-button.sqs-editable-button {
	box-shadow: 0 4px 0 0 #143f68;
	-moz-box-shadow: 0 4px 0 0 #143f68;
	-webkit-box-shadow: 0 4px 0 0 #143f68;
}

/*404 Button Styles*/
.button-style-raised [data-slice-type="buttons"] a,
.button-style-raised .sqs-slice-custom-form a,
.button-style-raised .form-wrapper input[type=submit] {
	background: #3476b5;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 4px 0 0 #143f68;
	-moz-box-shadow: 0 4px 0 0 #143f68;
	-webkit-box-shadow: 0 4px 0 0 #143f68;	
}

.sqs-block-horizontalrule hr {
	margin: 15px 0;
}

/*******************************************************
Header
*******************************************************/
/*Logo margin*/
#header #logoImage {
	margin-right: 40px;
}

/*Positioning the inner menu nav*/
.header-inner {
	width: 100%;
}

/*******************************************************
Positioning the nav
*******************************************************/
#header {
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1000;
	top: 36em;
	left: 0;
	width: 100%;
	line-height: 1em;
	background-color: rgba(52, 118, 181, 0.8);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	position: relative;
}

/*******************************************************
Positioning & sizing the hero image area
*******************************************************/
.collection-type-page .banner-thumbnail-wrapper,
.view-list .banner-thumbnail-wrapper,
.collection-type-index .banner-thumbnail-wrapper {
	top: -100px;
	padding: 163px 0;
	height: 314px;
}

/*hero text*/
.desc-wrapper {
	padding: 0px;
}

/*Blog Posts Header Images*/
.sqs-featured-posts-gallery {
	top: -100px;
	position: relative;
	height: 640px;
}

.sqs-featured-posts-gallery .gallery-wrapper .posts {
	height: 640px !important;
}

.sqs-featured-posts-gallery .gallery-wrapper, 
.gallery-wrapper .posts .post {
	height: 640px;
}

.sqs-featured-posts-gallery .gallery-wrapper .posts .post {
	height: 640px !important;
}

/*Single Post Header Images*/
.collection-type-blog.view-item .banner-thumbnail-wrapper {
	top: -100px;
	height: 380px;
}

/*******************************************************
Main, dropdown & mobile nav
*******************************************************/
#sidecarNav,
#headerNav nav .subnav,
#sidecarNav nav .subnav {
	background-color: rgba(52, 118, 181, 1);
}

/*Sub nav and folders*/
#headerNav nav .subnav {
	background-color: rgba(33, 73, 111, .95);
	/*border: 1px solid #21496f;*/
	text-align: left;
}

/*html:not(.touch-styles) body:not(.force-mobile-nav) .nav-wrapper .folder .subnav {
	left: 0em;
}*/

/*Traiangle*/
/*#headerNav nav .subnav::before {
	content: "";
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgba(33, 73, 111, .95);
	position: relative;
	top: -35px;
}*/

#headerNav nav .folder .subnav a:hover,
#headerNav nav .folder .subnav a:active {
	color: #21496f;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.8);
	border-top: 1px solid rgba(255, 255, 255, 0);
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	transition: background-color .1s 0s ease-in-out;
		-webkit-transition: color .1s 0s ease-in-out;
		-moz-transition: color .1s 0s ease-in-out;
		-ms-transition: color .1s 0s ease-in-out;
		-o-transition: color .1s 0s ease-in-out;
}

/*Nav before hover and active*/
#headerNav nav a,
#headerNav nav a,
#headerNav nav label,
#sidecarNav nav a,
#sidecarNav nav a,
#headerNav nav .active>a,
#sidecarNav nav .active>a,
#headerNav nav .active>a,
#sidecarNav nav .active>a,
#headerNav nav .active>label,
#sidecarNav nav .active>label {
	border-top: 1px solid rgba(0, 0, 0, 0);
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}

/*Nav hover and active*/
#headerNav nav a:hover,
#headerNav nav a:visited:hover,
#headerNav nav label:hover,
#sidecarNav nav a:hover,
#sidecarNav nav a:visited:hover,
#headerNav nav .active>a,
#sidecarNav nav .active>a,
#headerNav nav .active>a:visited,
#sidecarNav nav .active>a:visited,
#headerNav nav .active>label,
#sidecarNav nav .active>label {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

/*Nav padding*/
/*body:not(.force-mobile-nav) .nav-wrapper nav>div {
	margin: 0 5px;
}*/

/*Call to action nav button*/
.nav-button-corner-style-rounded.enable-nav-button #headerNav nav>div:not(.folder):last-child a,
.nav-button-corner-style-rounded.enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
	border: 1px solid #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.nav-button-corner-style-rounded.enable-nav-button #headerNav nav>div:not(.folder):last-child a:hover,
.nav-button-corner-style-rounded.enable-nav-button #sidecarNav nav>div:not(.folder):last-child a:hover {
	color: #143f68;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}


/*On Page Sub Nav*/
.category-nav li.active-link:not(.all) a,
.folder-nav li.active-link:not(.all) a,
.category-nav li.active-link:not(.all) a:visited,
.folder-nav li.active-link:not(.all) a:visited {
	color: #3476b5;
}

/*.category-nav li.active-link:not(.all) a::before,
.folder-nav li.active-link:not(.all) a::before {
	content: "» ";
	color: #3476b5;
}*/

.category-nav a:hover,
.folder-nav a:hover,
.category-nav a:visited:hover,
.folder-nav a:visited:hover {
	color: #3476b5;
	font-style: italic;
}

/*******************************************************
Annoucement Bar
*******************************************************/
.sqs-announcement-bar {
	background: #3476b5;
}

.sqs-announcement-bar-close {
	visibility: hidden;
}

/*Text attributes*/
.sqs-announcement-bar-text p {
	font-size: 16px;
	font-weight: 500;
}

/*******************************************************
Page margin correction
*******************************************************/
#page {
	margin-top: -70px;
	padding: 0 32px 96px;
}

/*******************************************************
Blog
*******************************************************/
/*Blog main area width*/
.collection-type-blog #content {
	width: 67.4375%;
	width: calc(95% - 255px) !important;
	display: inline-block;
	vertical-align: top;
	padding-right: 5%;
}

/*Contact Us text*/
aside > div > div > div > div > div > h3 {
	color: #fff;
}

.telephone-form-link {
	text-align: center;
	font-size: 1.25em;
	padding: 0 65px;
}

/*Blog comment button*/
body:not(.button-style-default).button-corner-style-rounded .sqs-editable-button,
body:not(.button-style-default).button-corner-style-rounded .sqs-editable-button-shape {
	background: #3476b5;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 4px 0 0 #143f68;
	-moz-box-shadow: 0 4px 0 0 #143f68;
	-webkit-box-shadow: 0 4px 0 0 #143f68;
}

body:not(.button-style-default).button-corner-style-rounded .sqs-editable-button:hover,
body:not(.button-style-default).button-corner-style-rounded .sqs-editable-button-shape:hover {
	background: #377ec1;
	-webkit-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
	-moz-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
	-ms-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
	-o-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
	transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
}

/*******************************************************
Right Sidebar
*******************************************************/
#rightSidebar {
	padding: 15px;
	background: #143f68;
	border-radius: 5px;
	color: #fff;
}

#rightSidebar a {
	color: #fff;
	text-decoration: underline;
}

#rightSidebar a:hover {
	color: #80B0DE;
}

aside > div > div > div > div > div > div > .form-inner-wrapper > form > div > input {
	background-color: #fff !important;
	color: #143f68 !important;
	font-weight: 600 !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border: 1px solid rgba(255, 255, 255, 0) !important;

}

aside > div > div > div > div > div > div > .form-inner-wrapper > form > div > input:hover {
	background-color: #143f68 !important;
	color: #fff !important;
	border: 1px solid rgba(255, 255, 255, 1) !important;
}

/*******************************************************
Footer
*******************************************************/
#preFooter {
	border-top: 1px solid rgba(51,51,51,.15);
}

.pre-footer-inner .sqs-layout {
	padding: 32px;
	padding-bottom: 0;
}

.footer-inner {
	padding: 64px 32px;
	font-size: 13px;
}

#footer .html-block a, #footer .html-block a:visited {
	color: #3476b5;
	border-bottom: 0px solid #333;
	text-decoration: underline;
}

/*******************************************************
Home Page
*******************************************************/
/*Icon background*/
img[src*="icon"] {
	background-color: #3476b5;
	border-radius: 5px;
}

/*Block Quote*/
blockquote#yui_3_17_2_2_1433955293112_2862 {
	font-size: 1.45em !important;
	line-height: 1.2em !important;
}

/*Blog post image border*/
.sqs-block-summary-v2 .img-wrapper {
	border: 1px solid rgba(26,26,26,.15);
}

/*******************************************************
About Page
*******************************************************/
/*Profile Images*/
img[alt*="profile.jpg"] {
	border: 5px solid #3476b5;
	width: 238px !important;
	border-radius: 50%;
}

/*Adds border to left of info areas*/
div#block-yui_3_17_2_3_1433530507830_25644,
div#block-yui_3_17_2_3_1433530507830_27565,
div#block-yui_3_17_2_2_1433530980860_21410,
div#block-yui_3_17_2_2_1433530980860_23127 {
	border-left: 4px solid #63b3ff !important;
}

/*******************************************************
Contact Page
*******************************************************/
/*Address Info Column*/
div#yui_3_17_2_4_1433944766153_3120 {
	border-left: 2px solid #3476b5;
	border-right: 2px solid #3476b5;
}

/*******************************************************
404 Page
*******************************************************/
.sqs-slice-group .group-copy .align-center-vert .full-width {
	position: relative !important;
	top: 30% !important;
	box-sizing: border-box !important;
	-webkit-transform: translatey(-150%) !important;
	-moz-transform: translatey(-150%) !important;
	-ms-transform: translatey(-150%) !important;
	transform: translatey(-150%) !important;
}

/*******************************************************
Media Queries
*******************************************************/
@media only screen and (min-width: 717px) {
	/*Nav positioning*/
	#header {
		top: 36em;
	}
}
@media only screen and (max-width: 641px) {
	/*Nav positioning*/
	#header {
		top: 25.75em;
	}
	.view-list .banner-thumbnail-wrapper,
	.collection-type-page .banner-thumbnail-wrapper,
	.collection-type-index .banner-thumbnail-wrapper {
			height: 238px;
	}
}
@media only screen and (max-width: 640px) {
	/*Nav positioning*/
	#header {
		top: 23.05em;
	}
	.desc-wrapper {
		padding: 0;
		margin-top: -50px;
	}
	.view-list .banner-thumbnail-wrapper,
	.collection-type-page .banner-thumbnail-wrapper,
	.collection-type-index .banner-thumbnail-wrapper {
		height: 120px;
	}

	/*Page positioning*/
	#page {
		padding: 0 20px;
		margin-top: -60px;
	}

	/*Blog headers*/
	.sqs-featured-posts-gallery {
		top: -100px;
		position: relative;
		height: 445px;
	}
	.sqs-featured-posts-gallery .gallery-wrapper .posts {
		height: 445px !important;
	}
	.sqs-featured-posts-gallery .gallery-wrapper, 
	.gallery-wrapper .posts .post {
		height: 445px;
	}
	.sqs-featured-posts-gallery .gallery-wrapper .posts .post {
		height: 445px !important;
	}
	/*Single Post Header Images*/
	.collection-type-blog.view-item .banner-thumbnail-wrapper {
		top: -100px;
		height: 185px;
	}
}