/*******************************************************
General Styles
*******************************************************/

/*-------------------Button Styles-------------------*/

/*Main header button*/
body:not(.collection-type-gallery).banner-button-style-raised .desc-wrapper p:last-child>a {
	border-radius: 5px;
		box-shadow: 0 4px 0 0 #143f68;
	-moz-box-shadow: 0 4px 0 0 #143f68;
	-webkit-box-shadow: 0 4px 0 0 #143f68;
}

/*Button border radius*/
.small-button-shape-rounded .sqs-block-button .sqs-block-button-element--small,
.medium-button-shape-rounded .sqs-block-button .sqs-block-button-element--medium,
.large-button-shape-rounded .sqs-block-button .sqs-block-button-element--large,
input.button.sqs-system-button.sqs-editable-button {
	border-radius: 5px;
}

/*Small button box-shadow*/
.small-button-style-raised .sqs-block-button .sqs-block-button-element--small,
input.button.sqs-system-button.sqs-editable-button {
	box-shadow: 0 4px 0 0 #143f68;
	-moz-box-shadow: 0 4px 0 0 #143f68;
	-webkit-box-shadow: 0 4px 0 0 #143f68;
}

/*******************************************************
Header
*******************************************************/

/*Positioning the inner menu nav*/
.header-inner {
	width: 63.5%;
}

/*******************************************************
Positioning the nav
*******************************************************/
#header {
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1000;
	top: 36em;
	left: 0;
	width: 100%;
	line-height: 1em;
	background-color: rgba(52, 118, 181, 0.8);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	position: relative;
}

/*******************************************************
Positioning & sizing the hero image area
*******************************************************/
.collection-type-page .banner-thumbnail-wrapper,
.view-list .banner-thumbnail-wrapper,
.collection-type-index .banner-thumbnail-wrapper {
	top: -100px;
	padding: 163px 0;
	height: 314px;
}

/*hero text*/
.desc-wrapper {
	padding: 0px;
}

/*Blog Posts Header Images*/
.sqs-featured-posts-gallery {
	top: -100px;
	position: relative;
	height: 640px;
}

.sqs-featured-posts-gallery .gallery-wrapper .posts {
	height: 640px !important;
}

.sqs-featured-posts-gallery .gallery-wrapper, 
.gallery-wrapper .posts .post {
	height: 640px;
}

.sqs-featured-posts-gallery .gallery-wrapper .posts .post {
	height: 640px !important;
}

/*Single Post Header Images*/
.collection-type-blog.view-item .banner-thumbnail-wrapper {
	top: -100px;
	height: 380px;
}

/*******************************************************
Main, dropdown & mobile nav
*******************************************************/
#sidecarNav,
#headerNav nav .subnav,
#sidecarNav nav .subnav {
	background-color: rgba(52, 118, 181, 1);
}

/*#headerNav nav a:hover,
#sidecarNav nav a:hover,
#headerNav nav a:visited:hover,
#sidecarNav nav a:visited:hover,
#headerNav nav label:hover,
#sidecarNav nav label:hover {
	color: aqua;
}*/

.nav-button-corner-style-rounded.enable-nav-button #headerNav nav>div:not(.folder):last-child a,
.nav-button-corner-style-rounded.enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

/*******************************************************
Page margin correction
*******************************************************/
#page {
	margin-top: -70px;
	padding: 0 32px 96px;
}

/*******************************************************
Footer
*******************************************************/
#preFooter {
	border-top: 1px solid #333;
}

.footer-inner {
	padding: 64px 32px;
	font-size: 13px;
}

#footer .html-block a, #footer .html-block a:visited {
	color: #3476b5;
	border-bottom: 0px solid #333;
	text-decoration: underline;
}

/*******************************************************
Home Page
*******************************************************/
img[src*="icon"] {
		background-color: #3476b5;
		border-radius: 5px;
}
/*******************************************************
Media Queries
*******************************************************/
@media only screen and (min-width: 717px) {
	/*Nav positioning*/
	#header {
		top: 36em;
	}
}
@media only screen and (max-width: 641px) {
	/*Nav positioning*/
	#header {
		top: 25.75em;
	}
	.view-list .banner-thumbnail-wrapper,
	.collection-type-page .banner-thumbnail-wrapper,
	.collection-type-index .banner-thumbnail-wrapper {
			height: 238px;
	}
}
@media only screen and (max-width: 640px) {
	/*Nav positioning*/
	#header {
		top: 23.05em;
	}
		.desc-wrapper {
		padding: 0;
		margin-top: -50px;
	}
	.view-list .banner-thumbnail-wrapper,
	.collection-type-page .banner-thumbnail-wrapper,
	.collection-type-index .banner-thumbnail-wrapper {
		height: 120px;
	}
	/*Page positioning*/
	#page {
		padding: 0 20px;
		margin-top: -60px;
	}
	/*Blog headers*/
	.sqs-featured-posts-gallery {
		top: -100px;
		position: relative;
		height: 445px;
	}

	.sqs-featured-posts-gallery .gallery-wrapper .posts {
		height: 445px !important;
	}

	.sqs-featured-posts-gallery .gallery-wrapper, 
	.gallery-wrapper .posts .post {
		height: 445px;
	}

	.sqs-featured-posts-gallery .gallery-wrapper .posts .post {
		height: 445px !important;
	}

	/*Single Post Header Images*/
	.collection-type-blog.view-item .banner-thumbnail-wrapper {
		top: -100px;
		height: 185px;
	}

}